@media screen and (max-width : 479px) {

    .primary-button{
        margin-left: 0rem;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 6rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }
    .header{
        background-color: #ff003a;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 1.2rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }


    .flex{
    flex-wrap: wrap;
    }

    /* nav ended */

    .top-main-section {
        padding-block: 25px;
    }
    .top-main-section h1, h2 {
        font-size: 1.5rem;
    }
    .top-main-section h1, h2 {
        padding-bottom: 0.3rem;
    }
    /* feature sec */
    .feature-section-info {
        gap:0;
    }

    .feature-section-info-1 {
        width: 40%;
        padding: 10px;
    }

    .section-reverse {
        padding-block: 30px;
    }
    .feature-section img{
        width: 2.7rem;
        padding: 0.3rem;
    }
    .feature-section-info-1 p {
        padding-top: 10px;
        font-size: 9px;
    }

    /* header-sec */
    .header-section {
        flex-direction: column-reverse;
        text-align: center;
    }

    .header-right img {
        width: 100%;
    }

    .header-left {
        font-size: 1.2rem;
    }

    .header-section {
        margin-top: 30px;
        margin-bottom: 10px;
        gap: 15px;
    }

    .header-left-p {
        padding-top: 8px;
        padding-bottom: 15px;
    }


    /* boad of department */

    .boad-info{
        flex-direction: column;
    }
    .boad-info-card{
        width: 80%;
    }


    /* card respo */

    .card {
        flex-direction: column;
        gap: 30px;
    }

    .card-info {
        width: 100%;
    }

    /* ............. */

    .involved-info {
        flex-direction: column;
        gap: 30px;
    }

    .involved-info-sec1 {
        width: 80%;
    }

    /* ............ */

    .last-info {
        padding-bottom: 50px;
        flex-direction: column;
        gap: 30px;
    }

    .last-info-sec1 {
        width: 100%;
    }



    /* footer respo */
    .footer-content {
        flex-direction: column;
        gap: 50px;
    }

    .header-direction {
        flex-direction: column-reverse;
    }

    .footer-content-col-1 {
        width: 100%;
    }

    .footer-content-col-1 {
        font-size: .8rem;
    }


    /* contact us respo */

    .contactus-section{

        padding-block: 2rem;
    }

    .contactus-section-details h2{
        font-size: 1.3rem;
    }
    .contactus-section-details p{
        padding-top: 0rem;
        font-size: 0.8rem;
    }

    .info-details{
        flex-direction: column;
        text-align: center;
    }
    .info-detail-sec{
        width: 100%
    }
    .contact-info-row-02-img{
        display: none;
    }
    .contact-info-row-02-info{
        width: 100%;
    }
    .contact-info-row-02-info-h4{
        text-align: center;
    }
    .contact-info-row-02-info-p{
        text-align: center;
    }
    .center-btn{
        justify-content: center;
    }

    /* gallery section */
    .gallery{
        flex-direction: column;
    }
    .gallery img{
        width: 100%;
    }

    /* ashram section */
    .ashram {
        padding-block: 4rem;
        width: 100%;
        object-fit: contain;
    }

    .world-content img{
        display: none;
    }
    .world-content-detail{
        width: 100%;
    }
    .ashram-hero-sec{
        padding-block: 1.5rem;
    }
   
    
    /* about section */
    .who-we-are-info{
        flex-direction: column-reverse;
    }
    .who-we-are-p1{
        text-align: center;
    }
    .who-we-are-info img{
        width: 100%;
    }

    .ashram-h3{
        width: 100%;
        
    }
    .ashram-h1{
        width: 100%;
        
    }
    .ashram-p{
        width: 100%;
        
    }
    .better-world-info-h2{
        padding-block: .7rem;
        font-size: 2rem;
    }
    
    .better-world {
        padding-block: 0rem;
    }
    .better-world-info-p {
        text-align: left;
        font-size: 1.1rem;
        padding: 1rem 0rem 4rem 0rem;
    }

    /* kamakshi mahila sansthan section */
    
.women-banner {
    padding-block: 3rem;
}

/* donation */
.donation-details-act {
    padding: 40px;
}

.donation-details-act {
    margin: 22px 0px;
}
.donation-act {
    background-color: #ff003a;
    padding: 2rem;
}



/* gaushala  */
.gaushala-banner{
    padding-block: 3rem;
}
.gaushala-section {
    padding-block: 20px;
}

/* preloader */
#preloader{
    background-size: 70%;
}



}
