@media screen and (max-width : 479px) {

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 6rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }
    .header{
        background-color: #ff003a;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 1.8rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    /* nav ended */

    /* feature sec */
    .feature-section-info {
        flex-direction: column;
        gap: 20px;
    }

    .feature-section-info-1 {
        width: 100%;
    }

    .section-reverse {
        padding-block: 30px;
    }

    /* header-sec */
    .header-section {
        flex-direction: column-reverse;
        text-align: center;
    }

    .header-right img {
        width: 100%;
    }

    .header-left {
        font-size: 1.2rem;
    }

    .header-section {
        margin-block: 20px;
        gap: 15px;
    }

    .header-left-p {
        padding-top: 8px;
        padding-bottom: 15px;
    }


    /* card respo */

    .card {
        flex-direction: column;
        gap: 30px;
    }

    .card-info {
        width: 100%;
    }

    /* ............. */

    .involved-info {
        flex-direction: column;
        gap: 30px;
    }

    .involved-info-sec1 {
        width: 100%;
    }

    /* ............ */

    .last-info {
        padding-bottom: 50px;
        flex-direction: column;
        gap: 30px;
    }

    .last-info-sec1 {
        width: 100%;
    }



    /* footer respo */
    .footer-content {
        flex-direction: column;
        gap: 50px;
    }

    .header-direction {
        flex-direction: column-reverse;
    }

    .footer-content-col-1 {
        width: auto;
    }

    .footer-content-col-1 {
        font-size: .8rem;
    }

}