*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    scroll-behavior: smooth;
}
.flex{
    display: flex;
    align-items: center;
}

::selection{
    color: #ffffff;
    background-color: #ff003c56;
}
.container{
    max-width: 1250px;
    margin-inline: auto;
    padding-inline: 20px;
    overflow: hidden;
}
a{
    text-decoration: none;
    color: white;
}
li{
    list-style: none;
}
hr{
    border: 5px solid rgba(0, 0, 0, 0.21);
    color: rgba(199, 199, 199, 0.443);
}
u{
    color: #ff003a;
    font-weight: bold;
}

/* tap to scroll */

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #ff003a;
    color: white;
    cursor: pointer;
    padding: 15px 20px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: #000000;
    color: #ff003a;
  }


/* nav-bar started */

header{
    padding: 0px 0px 0px 0px;
}

.primary-button{
    background-color: #ff003a;
    border: 1px solid #ffffff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 5px 0px;
    border-radius: 4px;
    padding: 12px 24px;
    color: #ffffff;
    font-weight: 600;
    margin-left: 1.2rem;
}
.primary-button:hover{
    background-color: #ffffff;
    color: #ff003a;
    border: 1px solid #ff003a;
}
.button-gap:hover{
    box-shadow: -1px 2px 10px 8px #ff003a8e;

}
.header{
    border-bottom: 1px solid #E2E8F0;
    
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ffffff;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 25px;
}

.nav-item {
    margin-left: 1.5rem;
}

.nav-link{
    font-weight: 600;
    font-size: 1rem;
    color: #000000;
}

.nav-link:hover{
    color: #ff003a;
}

/* nav-bar ended */

/* hero section */

.top-main-section{
    padding-block: 150px;
    text-align: center;
    background:linear-gradient(rgb(0, 0, 0, 0.8), rgb(0, 0, 0, 0.5)), url(image/auto-img1.jpg);
    background-repeat:no-repeat;
    background-size: cover;
}
.top-main-section h1, h2{
    color: white;
    padding-bottom: 1.3rem;
}
.top-main-section h1,h2{
    font-size: 3rem;
}
.message-bar{
    padding-block: 2.3rem;
    color: #ffffff;
    font-weight: bold;
}


/* feature section */

.feature-section{
    background-color: #181818;
    text-align: center;
    color: white;
}
.feature-section img{
    padding: .5rem;
    width: 4.5rem;
    border: 2px solid #ff003a;
    border-radius: 50%;
}
.feature-section-info{
    justify-content: space-evenly;
}
.feature-section-info-1{
    padding: 1.5rem;
    width: 16%;
}
.feature-section-info-1 p{
    padding-top: .9rem;
    font-size: .8rem;
    color: white;
}
.feature-section-info-1:hover{
    background-color: #ff003a;
}

/* detail section */

.header-section{
    margin-block: 50px;
    justify-content: center;
    gap: 50px;
}
.header-right img{
    width: 450px;
    border-radius: 30px;
}
.header-left{
    padding-bottom: 20px;
}
.header-left-h1{
    font-size: 2rem;
    color: #183b56;
    line-height: 3rem;
    letter-spacing: -1px;
    
}
.header-left-p{
    font-size: 1rem;
    line-height: 30px;
    color: #577592;
    padding-top: 15px;
    padding-bottom: 30px;
    text-align: left;
}

.company-header{
    font-size: 18px;
    text-align: center;
    margin: 50px 0px 30px 0px;
}
.section-reverse{
    padding-block: 80px;
    flex-direction: row-reverse;
}
.header-left li{
    margin-top: 3.5rem;
}


/* card section */
.card-back-img{
    background-image: url(image/backgroundimg.jpg);
}
.card-section{
    padding-block: 80px;
}
.card-section p{ 
    text-align: center;
    font-size: 2.8rem;
}

.card{
    margin-block: 50px;
    justify-content: space-between;
}
.card-info {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
    background-color: white;
    
}
.card-info-img{
    width: 100%;
}

.card-info-img img{
    width: 100%;
  }
  
  .card-info:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .card-container {
    margin-top: 2rem;
    text-align: center;
  }
  .card-container h4{
    padding: 10px 0px 15px 10px;
    font-size: 1rem;
    text-align: left;
  }
  .card-container p{
    padding: 10px 0px 15px 10px;
    font-size: .8rem;
    color: rgba(0, 0, 0, 0.454);
    font-weight: bold;
    text-align: left;
  }


/* get invloved section */

.involved-section{
    background-image: url(image/backgroundimg.jpg);
    padding-bottom: 50px;
}

.involved-section p{
 font-size: 2.4rem;
 color: #000000;
 text-align: center;
 padding: 15px 0 60px 0;
}

.involved-info{
    justify-content: space-between;
    align-items: center;
}
  .involved-info-sec1{
    border: 2px solid #ff003a;
    border-radius: 15px;
    padding: 30px;
    text-align: center;
    line-height: 2rem;
    width: 30%;
  }
  .involved-info-sec1 p{
     font-size: .9rem;
     columns: #555555;
     padding-bottom: 20px;
  }
  .info-button{
    border:2px solid #ff003a;
    border-radius: 20px;
    color: #ff003a;
    padding: .8rem;
    width: 200px;
    text-align: center;
  }
  .involved-info-sec1:hover{
    background-color: white;
  }
  .info-button:hover{
    background-color: #ff003a;
    color: white;
  }

  /* more-section */

  .more-section{
    margin-top: 20px;
    background: linear-gradient(rgb(0, 0, 0, 0.3), rgb(0, 0, 0, 0.3)), url(image/become-a-vol.jpg);
    height:fit-content;
    background-repeat: no-repeat;
  }
  .last-info{
      padding-top: 1.8rem;
      padding-bottom: 1.8rem;
      justify-content: space-evenly;      
      align-items: center;
    }
    .last-info-sec1{
        color: black;
        background-color: white;
        text-align: center;
        width: 30%;
        height: 200px;
        padding: 2rem 1.2rem 1.2rem 1.2rem;
        border-radius: 20px;
    }
    .last-info-sec1 img{
        padding-block: 1rem;
    }
     .last-info-sec1 p{
        font-size: 1.2rem;
    }
    .last-info-sec1:hover{
         box-shadow: -1px 1px 5px 4px #ded1d17d;

    }

    /* footer section */

.footer-section{
    background-color: #202020;
    padding-block: 50px;
    color: white;
}
.footer-content{
    justify-content: space-between;
}
.footer-content h3{
    color: #ff003a;
}
.footer-content-col-1{
    width: 400px;
}
.footer-content-col-1 p{
   padding-block: 1rem;
   color: white;
   text-align: left;
   font-size: 1rem;
   line-height: 1.5rem;

}
.footer-content a{
    color: rgb(255, 255, 255);
}
.footer-content li{
    padding-block: 16px;
    font-weight: bold;
}
.footer-content-col-2 ul a{
    transition: all .2s ease-in-out;
}

.footer-content-col-2 ul a:hover{
    color: #ff003a;
    border-bottom: 2px solid #ffffff;
}

/* Contact Section CSS ..... Started.... */
.contactus-section{
    background: linear-gradient(rgb(0, 0, 0, .8), rgb(0, 0, 0, .4)), url(image/become-a-vol.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-block: 7rem;
}
.contactus-section-details{
    text-align: center;
}
.contactus-section-details h2 {
    color: #ff003a;    
}
.contactus-section-details p{
    padding-top: 1.3rem;
    font-size: 1.5rem;
    color: white;
}
.contact-home:hover{
    color: #ff003a;
}
.center-btn{
    margin-top: 20px;
}

/* Information Details */

.info-section{
    text-align: center;
    padding-block: 40px;
} 
.info-details{
    justify-content: space-between;
}

.info-detail-sec{
    width: 23%;
    padding: 15px;
}
.info-detail-sec i{
    color: #ff003a;
    font-size: 3rem;
    padding-bottom: .8rem;
}
.info-detail-sec h4{
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.info-detail-sec p{
    font-size: .8rem;
    padding-block: 1rem;
}

/* contact form */


.contact-info-row-02{
    padding-block: 40px;
    background-image: url(image/backgroundimg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-info-row-02-info{
    width: 50%;
}
.contact-info-row-02-info-h4{
    font-size: 2rem;
    padding-block: 2rem;
    color: #ff003a;
}
.contact-info-row-02-info-p{
    text-align: left;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
    color: rgba(0, 0, 0, 0.418);
    
}
.gaping-form{
    gap: 3.2rem;
}
.form-p{
    text-align: left;
    font-size: 12px;
    font-weight: bold;
    color: #ff003a;
    padding-bottom: 20px;
    padding-top: 20px;
}

.input-form {
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    padding-left: 0.6rem;
    border: 0; 
    border-bottom: 1px solid rgba(0, 0, 0, 0.288);
    width: 100%; 
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    outline: none;
    background-color: rgba(255, 255, 255, 0.366);
}
form{
    padding-bottom: 2rem;
}
.contact-info-row-02-img{
    width: 40%;
}
.contact-info-row-02-img img{
    width: 100%;
    border-radius: 30px;
    box-shadow: -5px 2px 4px 8px #42252c6d;
}


/* .......About sestion....... */
.who-we-are{
    padding-block: 4rem;
    background-image: url(image/backgroundimg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.who-we-are-p1{
    font-size: 2rem;
    padding-bottom: 3rem;
    text-align: left;
    
}
.who-we-are-info{
   align-items: flex-start;
   gap: 4rem;
   line-height: 2rem;
}
.who-we-are-info img{
    width: 400px;
    border-radius: 30px;
    box-shadow:2px 2px 4px 8px #42252c6d;
}
.card-sen-with{
    width: 45%;
    padding: 0 20px 0 20px;
}

.vis-min-gap{
    padding-block: 30px;
}

/* our Team  info */

.team-section{
    padding-block: 2rem;
}

.team-info-div{
    font-size: 2rem;
    color: #ff003a;
    padding-block: 1.5rem;
    text-align: center;
}

#customers {
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){

    background-color: #ffe6eb;
}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #ff003a;
    color: white;
  }


  /* Donation sction */

  .donation-section{
    padding-block: 3rem;
    text-align: center;
  }
  .donation-section-span {
    font-size: 2rem;
    font-weight: bold;
    color: #ff003a;
  }
  .donation-details-act{
    margin: 40px 140px;
    
  }
  .donation-act{
    background-color: #ff003a;
    padding: 4rem;
  }
  .donation-act p{
    color: rgb(255, 255, 255);
    font-size: 1rem;
    text-align: left;
    line-height: 1.5rem;
    text-align: left;
  }
  .donation-img img{
    width: 400px;
  }


  /* Anath Ashram section */


  .ashram-section{
    width: 100%;
}
.ashram-section img{
    width: 100%;
}

.ashram-hero-sec{
    background: linear-gradient(to right ,rgba(255, 255, 255,  1), rgb(0, 0, 0, .4)), url(image/ashram-hero-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-block: 3rem;
}

.ashram-h3{
    width: 50%;
    color: #ff003a;
    padding-block: 2rem;
}
.ashram-h1{
    width: 50%;
    padding-bottom: 2rem;
    font-size: 2rem;
}
.ashram-p{
    width: 50%;
    font-size: 1rem;
    font-weight: bold;
    padding-bottom: 2rem;
    word-spacing: .2rem;
    text-align: left;
}
.better-world{
    padding-block: 3rem;
}
.better-world-info-h2{
    font-size: 3rem;
    padding-block: 3rem;
    color: #000000;
    text-align: center;
}
.better-world-info-p{
text-align: center;
font-size: 1.1rem;
padding: 1rem 3rem 4rem 3rem;
}
.world-content{
    justify-content: center;
    padding-bottom: 2rem;
    padding-left: 20px;
}
.world-content img{
    width: 450px;
}
.world-content-detail{
    background-color: #ff003a;
    padding: 25px 35px;
    width: 35%;
    margin-left: -20px;
}
.world-content-detail p{
    padding-block: 2.5rem;
    color: white;
    font-size: 2rem;
    transition: transform .6s;
}
.world-content-detail hr{
    border: 1px solid white;
}
.world-content-detail p:hover{
    -ms-transform: scale(-1);
    transform: scale(1.1);
}

/* gallery section */

.gallery-section{
    padding-block: 30px;
    text-align: center;
}

.gallery-section h1{
    color: #ff003a;
    font-size: 3rem;
    padding-block: 30px;
}
.gallery {
    justify-content: space-evenly;
    padding-block: 1rem;

}
.gallery img{
    width: 21%;
    aspect-ratio: 3/2;
    border-radius: 25px;
    margin-block: 10px;
    transition: all .3s;
}
.gallery img:hover{
    box-shadow: 1px 0px 10px #ff003a;

}

/* boad of director section */

.boad{
    padding-top: 20px;
    padding-bottom: 50px;
}
.boad-p{
    font-size: 3rem;
    text-align: center;
    padding: 30px 5px;
}
.boad-info{
    justify-content: space-evenly;
}
.boad-info-card{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 25%;
    padding: 20px;
    background-image: url(image/backgroundimg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 4px 8px #42252c6d;
}
.boad-info-card p{
    color: #ff003a;
}
.boad-info-card img{
    width: 100%;
    aspect-ratio: 1;
    object-fit: contain;
    border-radius: 40px;

}
.boad-info-card h2 ,p{
    color: black;
    font-size: 1.2rem;
    text-align: center;
    padding-block: 10px;
}


/* letter to god section */

.letter-info{
    background-image: url(image/backgroundimg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-block: 40px;
    padding-block: 20px;
}
.letter-info h5{
    text-align: center ; 
    padding-block: 2rem;
}
.letter-info P{ 
    text-align: left; 
    font-size: 1rem; 
    line-height: 1.9rem;
     margin-left: 20px;
}
.letter-info li{
    list-style: number;
    line-height: 1.5rem;
}
.letter-info ol{
    padding-left: 60px;
}

/* Kamakshi Mahila Seva Sansthan */

.women-banner{
    background: linear-gradient(rgb(0, 0, 0, .8), rgb(0, 0, 0, .4)), url(image/women-banner1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-block: 7rem;
}
.welcome-women{
    background: linear-gradient(rgb(0, 0, 0, .99), rgb(0, 0, 0, .8)), url(image/mahilayen-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-block: 50px;
}
.women-power, .gaushala-section{
    padding-block: 45px;
}

.women-power, .gaushala-section h5{
    padding-top: 40px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #ff003a;
    color: #ff003a;
    font-size: 1.1rem;
    letter-spacing: 1px;
}
.women-power p{
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: left;
    color: white;
    padding-top: 20px;
} 

/* .text-center{
    text-align: justify;
    text-justify: inter-word;
} */


/* kamdhenu gaushala session */

.gaushala-banner{
    background: linear-gradient(rgb(0, 0, 0, .8), rgb(0, 0, 0, .4)), url(image/cow-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-block: 7rem;
}
.gaushala-section p{
    padding-top: 20px;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: left;
    color: rgb(0, 0, 0);
}


/* loader */

#preloader{
    background:#00000029  url(image/preloader.gif) no-repeat center;
    background-size: 35%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
    mix-blend-mode: color-burn;
}